.header_tab{
    display: flex;
    align-items: center;
}

.header_tab .menu ul {
    color: #007faf;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
}

.header_tab .logo {
    border-right: 3px solid #f8f8f8;
    padding-right: 25px;
}

.search {
    background-color: #007faf;
    height: 35px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 40px;
}

.icon1 {
    position: absolute;
    top: 4px;
    left: 5px;
}

.search1 {
    position: relative;

}
.search1 input {
    border-radius: 5px;
    padding: 4px;
    width: 70px;
}

.menu ul {
    display: flex;
}

.menu ul .tab {
    list-style-type: none;
    padding: 5px;
}

.menu ul .tab2 {
    list-style-type: none;
    padding: 5px;
    color: black;
}

.menu_tab .logo_Aquarium .anh {
    width: 210px;
    height: 60px;
}

.menu_tab{
    display: flex;
    align-items: center;
    padding: 0px 142px
}

.menu_tab .tab ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
}

.menu_tab .tab ul .tab1 {
    padding: 0 10px;
    border-right: 3px solid;
}

.banner .logo_light img {
    width: 125px;
    height: 29px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}