.header_tab{
    display: flex;
    align-items: center;
}

.header_tab .menu ul {
    color: #007faf;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
}

.header_tab .logo {
    border-right: 3px solid #f8f8f8;
    padding-right: 25px;
}

.search {
    background-color: #007faf;
    height: 35px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 40px;
}

.icon1 {
    position: absolute;
    top: 4px;
    left: 5px;
}

.search1 {
    position: relative;

}
.search1 input {
    border-radius: 5px;
    padding: 4px;
    width: 70px;
}

.menu ul {
    display: flex;
}

.menu ul .tab {
    list-style-type: none;
    padding: 5px;
}

.menu ul .tab2 {
    list-style-type: none;
    padding: 5px;
    color: black;
}

.menu_tab .logo_Aquarium .anh {
    width: 220px;
    height: 90px;
}

.menu_tab{
    display: flex;
    align-items: center;
    padding: 0px 142px
}

.menu_tab .tab ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
}

.menu_tab .tab ul .tab1 {
    padding: 0 10px;
    border-right: 3px solid;
}

.banner .logo_light img {
    width: 125px;
    height: 29px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
/* MIDDLE */
  .middle .middle-heading {
    text-align: center;
  }

  .middle .middle-img {
    text-align: center;
  }

  .middle .our-mission-para {
    margin: 50px 180px 130px 180px;
    font-size: x-large;
    font-family: sans-serif;
}


/* FOOTER */
  .back_groud {
    background-color: #333333;
    padding: 50px;
 }

  .back_groud .icon_position i {
    font-size: 45px;
    color: white;
 }

 .back_groud .location .position {
    text-align: center;
    font-size: 20px;
    color: white;
 }

 .back_groud .icon_position {
    text-align: center;
 }

 .footer {
    background-color: #262626;
}

.connect {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.connect .connect_left {
    display: block;
}

.connect .connect_right .menu_contact {
    display: flex;
    justify-content: space-between;
}

.connect .connect_right .menu_title {
    color: white;
    font-size: 22px;
}

.connect .connect_right .menu_description {
    color: white;
    font-size: 16px;
}

.connect .connect_left .title_sub {
    color: white;
}

.connect_left .follow_us h3 {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.connect_left .follow_us i {
    color: white;
}

.connect .connect_left .button_sub {
    background-color: #2c7d2e;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.footer .copy_right ul {
    display: flex;
}

.footer .copy_right ul li {
    list-style-type: none;
    color: white;
}

.footer .sologan .sologan_text {
    color: white;
    font-size: 15px;
    margin: 0;
}

.connect .connect_left .logo_boardwalk {
    height: 300px;
    display: flex;
    align-items: end;
}

.connect .connect_left .logo_boardwalk img {
    width: 100%;
    object-fit: none;
}
.connect .connect_right .menu_contact .plan {
    padding-left: 40px;
}
.connect .connect_right .menu_contact .join {
    padding-left: 40px;
}

.connect .connect_right .card_gift {
    display: flex;
    padding-top: 110px;
}